<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
	<title>我爱杨美美 WordPress Theme &raquo; Photography</title>

	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/static/js/includes/js/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
	<script type='text/javascript' src='/static/js/jquery/jquery14.min.js'></script>
	<!-- google fonts -->
	<!-- <link href='http://fonts.googleapis.com/css?family=Rokkitt&amp;v2' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700&amp;v2' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Play:400,700&amp;v2' rel='stylesheet' type='text/css' />
	-->
	<!-- conditional css -->
	<style type="text/css">
					body {
				background:#eee url(/static/images/bg_light_linen.png) fixed;	
			}
				
		a {
			color:#68AECF;
		}
		
				
			
		
					#wrapper {
				margin: 0 auto !important;
				
			}
			#next_arrow {
				right: 410px !important;
				left:auto !important;
			}
			.top-bar {
				left:auto !important;
				margin: 0 auto !important;
			}
			.social {
				width: 941px !important;
			}
			</style>
</head>

<body class="archive category category-photography category-15">
	<div id="wrapper" class="clearfix">
		<div class="top-bar">
			<div class="frame">
				<div class="frame-inside">
					<!-- header navigation menu -->
					<div class="menu-header-container">
						<ul id="menu-header" class="nav">
							<li id="menu-item-109" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-109">
								<a href="index.html">Home</a>
							</li>
							<li id="menu-item-110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110">
								<a href="sample-page.html">Sample Page</a>
							</li>
							<li id="menu-item-85" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-85">
								<a href="http://#">Drop Menu</a>
								<ul class="sub-menu">
									<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36">
										<a href="sample-page.html">Sample Page</a>
									</li>
									<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37">
										<a href="sample-page.html">Sample Page</a>
										<ul class="sub-menu">
											<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38">
												<a href="sample-page.html">Sample Page</a>
											</li>
											<li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41">
												<a href="sample-page.html">Sample Page</a>
												<ul class="sub-menu">
													<li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42">
														<a href="sample-page.html">Sample Page</a>
													</li>
													<li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86">
														<a href="sample-page.html">Sample Page</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li id="menu-item-218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-218">
								<a href="contact.html">Contact</a>
							</li>
						</ul>
					</div>
					<ul class="style-switcher nav">
						<li>
							<a href="#">BG Demo</a>
							<ul class="sub-menu">
								<li class="one">
									<a href="#">Light Linen</a>
								</li>
								<li class="two">
									<a href="#">Dark Linen</a>
								</li>
								<li class="four">
									<a href="#">Light Stone</a>
								</li>
								<li class="three">
									<a href="#">Dark Stone</a>
								</li>
								<li class="five">
									<a href="#">Light Plaid</a>
								</li>
								<li class="six">
									<a href="#">Dark Plaid</a>
								</li>
								<li class="seven">
									<a href="#">Light Shells</a>
								</li>
							</ul>
						</li>
					</ul>

					<!-- social icons -->
					<div id="social-strip-icons">
						<div class="fadehover">
							<a href="#" title="twitter">
								<img src="/static/images/icon-twitter.png" alt="twitter" class="a" />
							</a>
							<a href="#" title="twitter">
								<img src="/static/images/icon-twitter-color.png" alt="twitter" class="b" />
							</a>
						</div>

						<div class="fadehover">
							<a href="#" title="dribbble">
								<img src="/static/images/icon-dribbble.png" alt="dribbble" class="a" />
							</a>
							<a href="#" title="dribbble">
								<img src="/static/images/icon-dribbble-color.png" alt="twitter" class="b" />
							</a>
						</div>

						<div class="fadehover">
							<a href="#" title="vimeo">
								<img src="/static/images/icon-vimeo.png" alt="vimeo" class="a" />
							</a>
							<a href="#" title="vimeo">
								<img src="/static/images/icon-vimeo-color.png" alt="vimeo" class="b" />
							</a>
						</div>

						<div class="fadehover">
							<a href="mailto:#" title="email">
								<img src="/static/images/icon-email.png" alt="email" class="a" />
							</a>
							<a href="mailto:#" title="email">
								<img src="/static/images/icon-email-color.png" alt="email" class="b" />
							</a>
						</div>

						<div class="fadehover">
							<a href="#" title="facebook">
								<img src="/static/images/icon-facebook.png" alt="facebook" class="a" />
							</a>
							<a href="#" title="facebook">
								<img src="/static/images/icon-facebook-color.png" alt="facebook" class="b" />
							</a>
						</div>

						<div class="fadehover">
							<a href="http://www.flickr.com/photos/64104492@N02/" title="flickr">
								<img src="/static/images/icon-flickr.png" alt="flickr" class="a" />
							</a>
							<a href="http://www.flickr.com/photos/64104492@N02/" title="flickr">
								<img src="/static/images/icon-flickr-color.png" alt="flickr" class="b" />
							</a>
						</div>

						<div class="fadehover">
							<a href="#" title="tumblr">
								<img src="/static/images/icon-tumblr.png" alt="flickr" class="a" />
							</a>
							<a href="#" title="tumblr">
								<img src="/static/images/icon-tumblr-color.png" alt="tumblr" class="b" />
							</a>
						</div>
					</div>

					<!-- If it's the main page, category, or search page show the sorting drop menu. -->
					<ul class="nav filter-list filter">
						<li id="menu-item-27" class="sort-posts all-projects">
							<a href="">Sort Posts</a>
							<ul class="sub-menu" style="visibility: hidden; ">
								<li class="active all-projects" >
									<a href="" title="All categories">All Posts</a>
								</li>
								<li class="cat-item articles">
									<a href="" title="Articles projects">Articles</a>
								</li>
								<li class="cat-item photography">
									<a href="" title="Photography projects">Photography</a>
								</li>
								<li class="cat-item video">
									<a href="" title="Video projects">Video</a>
								</li>
							</ul>
						</li>
					</ul>
					<!-- filter list -->
				</div>
				<!-- frame inside -->
			</div>
			<!-- frame -->
		</div>
		<!-- top bar -->

		<div style="clear:both;"></div>
		<div id="main" class="clearfix">

			<div id="content" class="filter-posts">
				<!-- grab the posts -->

				<div data-id="post-81" data-type="photography" class="post-81 photography post clearfix project">
					<div class="box">
						<!-- meta info bar -->
						<div class="bar" >
							<div class="bar-frame clearfix">
								<div class="date"> <strong class="day">20</strong>
									<div class="holder">
										<span class="month">Jul</span>
										<span class="year">2011</span>
									</div>
								</div>
								<div class="author"> <strong class="title">AUTHOR</strong>
									<a href="http://mikemcalister.com" title="Visit Mike McAlister&#8217;s website" rel="external">Mike McAlister</a>
								</div>
								<div class="categories">
									<strong class="title">CATEGORY</strong>
									<p>
										<a href="#" title="View all posts in Photography" rel="category">Photography</a>
									</p>
								</div>
								<div class="comments">
									<strong class="title">COMMENTS</strong>
									<a href="#">1 Comment</a>
								</div>
							</div>
							<!-- bar frame -->
						</div>
						<!-- bar -->
						<div class="shadow clearfix">
							<div class="frame">
								<h2 class="entry-title">
									<a href="#" title="Bugatti Type 35B">Love dearlin forever!</a>
								</h2>

								<div class="okvideo"></div>
								<a class="post-thumb" href="#" title="Bugatti Type 35B">
									<img width="540" height="270" src="/static/images/assets/download-540x270.jpg" class="attachment-post-image wp-post-image" alt="download" title="download" />
								</a>

								<p>
									Owned for most of its life by Bugatti enthusiast Jack Perkins, this right-wheeled racer sports a straight-eight, turbocharged engine that&#8217;s started the Indy 500, original components sourced from Bugatti, and a heritage of setting records at Bugatti Owners&#8217; Club hill climbs year after year.
								</p>
							</div>
							<!-- frame -->
						</div>
						<!-- shadow -->
					</div>
					<!-- box -->
				</div>
				<!--writing post-->

				<div data-id="post-150" data-type="photography" class="post-150 photography post clearfix project">
					<div class="box">
						<!-- meta info bar -->
						<div class="bar" >
							<div class="bar-frame clearfix">
								<div class="date">
									<strong class="day">20</strong>
									<div class="holder">
										<span class="month">Jul</span>
										<span class="year">2011</span>
									</div>
								</div>
								<div class="author">
									<strong class="title">AUTHOR</strong>
									<a href="http://mikemcalister.com" title="Visit Mike McAlister&#8217;s website" rel="external">Mike McAlister</a>
								</div>
								<div class="categories">
									<strong class="title">CATEGORY</strong>
									<p>
										<a href="#" title="View all posts in Photography" rel="category">Photography</a>
									</p>
								</div>
								<div class="comments">
									<strong class="title">COMMENTS</strong>
									<a href="#">1 Comment</a>
								</div>
							</div>
							<!-- bar frame -->
						</div>
						<!-- bar -->
						<div class="shadow clearfix">
							<div class="frame">
								<h2 class="entry-title">
									<a href="#" title="Across the Bridge">Across the Bridge</a>
								</h2>

								<div class="okvideo"></div>
								<a class="post-thumb" href="#" title="Across the Bridge">
									<img width="540" height="333" src="/static/images/assets/photo1-540x333.jpg" class="attachment-post-image wp-post-image" alt="photo" title="photo" />
								</a>

								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac purus nec diam laoreet sollicitudin. Fusce ullamcorper imperdiet turpis, non accumsan enim egestas in.
								</p>
							</div>
							<!-- frame -->
						</div>
						<!-- shadow -->
					</div>
					<!-- box -->
				</div>
				<!--writing post-->

				<div data-id="post-64" data-type="photography" class="post-64 photography post clearfix project">
					<div class="box">
						<!-- meta info bar -->
						<div class="bar" >
							<div class="bar-frame clearfix">
								<div class="date">
									<strong class="day">17</strong>
									<div class="holder">
										<span class="month">Jul</span>
										<span class="year">2011</span>
									</div>
								</div>
								<div class="author">
									<strong class="title">AUTHOR</strong>
									<a href="http://mikemcalister.com" title="Visit Mike McAlister&#8217;s website" rel="external">Mike McAlister</a>
								</div>
								<div class="categories">
									<strong class="title">CATEGORY</strong>
									<p>
										<a href="#" title="View all posts in Photography" rel="category">Photography</a>
									</p>
								</div>
								<div class="comments">
									<strong class="title">COMMENTS</strong>
									<a href="#">No Comments</a>
								</div>
							</div>
							<!-- bar frame -->
						</div>
						<!-- bar -->
						<div class="shadow clearfix">
							<div class="frame">
								<h2 class="entry-title">
									<a href="#" title="Gallery Post">Gallery Post</a>
								</h2>

								<div class="okvideo"></div>

								<style type='text/css'>
			#gallery-1 {
				margin: auto;
			}
			#gallery-1 .gallery-item {
				float: left;
				margin-top: 10px;
				text-align: center;
				width: 25%;
			}
			#gallery-1 img {
				border: 2px solid #cfcfcf;
			}
			#gallery-1 .gallery-caption {
				margin-left: 0;
			}
		</style>
								<!-- see gallery_shortcode() in wp-includes/media.php -->
								<div id='gallery-1' class='gallery galleryid-64 gallery-columns-4 gallery-size-thumbnail'>
									<dl class='gallery-item'>
										<dt class='gallery-icon'>
											<a rel='gallery' class='lightbox' href='images/assets/5e785e65e679689ccc4423e4490c9193.jpeg' title='5e785e65e679689ccc4423e4490c9193'>
												<img width="150" height="150" src="/static/images/assets/5e785e65e679689ccc4423e4490c9193-150x150.jpg" class="attachment-thumbnail" alt="5e785e65e679689ccc4423e4490c9193" title="5e785e65e679689ccc4423e4490c9193" />
											</a>
										</dt>
									</dl>
									<dl class='gallery-item'>
										<dt class='gallery-icon'>
											<a rel='gallery' class='lightbox' href='images/assets/49ebe58d0883a136cc4cc268a0a09e86.jpeg' title='49ebe58d0883a136cc4cc268a0a09e86'>
												<img width="150" height="150" src="/static/images/assets/49ebe58d0883a136cc4cc268a0a09e86-150x150.jpg" class="attachment-thumbnail" alt="49ebe58d0883a136cc4cc268a0a09e86" title="49ebe58d0883a136cc4cc268a0a09e86" />
											</a>
										</dt>
									</dl>
									<dl class='gallery-item'>
										<dt class='gallery-icon'>
											<a rel='gallery' class='lightbox' href='images/assets/33924c8ccd147db9049fb1e04da90c03.jpeg' title='33924c8ccd147db9049fb1e04da90c03'>
												<img width="150" height="150" src="/static/images/assets/33924c8ccd147db9049fb1e04da90c03-150x150.jpg" class="attachment-thumbnail" alt="33924c8ccd147db9049fb1e04da90c03" title="33924c8ccd147db9049fb1e04da90c03" />
											</a>
										</dt>
									</dl>
									<dl class='gallery-item'>
										<dt class='gallery-icon'>
											<a rel='gallery' class='lightbox' href='images/assets/427603b66f15e69d9fa9968e2ff5a794.jpeg' title='427603b66f15e69d9fa9968e2ff5a794'>
												<img width="150" height="150" src="/static/images/assets/427603b66f15e69d9fa9968e2ff5a794-150x150.jpg" class="attachment-thumbnail" alt="427603b66f15e69d9fa9968e2ff5a794" title="427603b66f15e69d9fa9968e2ff5a794" />
											</a>
										</dt>
									</dl>
									<br style="clear: both" />
									<dl class='gallery-item'>
										<dt class='gallery-icon'>
											<a rel='gallery' class='lightbox' href='images/assets/b5042e5c3d2799bd3e75caf5e4505148.jpeg' title='b5042e5c3d2799bd3e75caf5e4505148'>
												<img width="150" height="150" src="/static/images/assets/b5042e5c3d2799bd3e75caf5e4505148-150x150.jpg" class="attachment-thumbnail" alt="b5042e5c3d2799bd3e75caf5e4505148" title="b5042e5c3d2799bd3e75caf5e4505148" />
											</a>
										</dt>
									</dl>
									<dl class='gallery-item'>
										<dt class='gallery-icon'>
											<a rel='gallery' class='lightbox' href='images/assets/cc7e98fb682fbd44cbd6cb1ab0c6214a.jpeg' title='cc7e98fb682fbd44cbd6cb1ab0c6214a'>
												<img width="150" height="150" src="/static/images/assets/cc7e98fb682fbd44cbd6cb1ab0c6214a-150x150.jpg" class="attachment-thumbnail" alt="cc7e98fb682fbd44cbd6cb1ab0c6214a" title="cc7e98fb682fbd44cbd6cb1ab0c6214a" />
											</a>
										</dt>
									</dl>
									<dl class='gallery-item'>
										<dt class='gallery-icon'>
											<a rel='gallery' class='lightbox' href='images/assets/cd6694c7ec7a6cc7c8d4557346e37965.jpeg' title='cd6694c7ec7a6cc7c8d4557346e37965'>
												<img width="150" height="150" src="/static/images/assets/cd6694c7ec7a6cc7c8d4557346e37965-150x150.jpg" class="attachment-thumbnail" alt="cd6694c7ec7a6cc7c8d4557346e37965" title="cd6694c7ec7a6cc7c8d4557346e37965" />
											</a>
										</dt>
									</dl>
									<dl class='gallery-item'>
										<dt class='gallery-icon'>
											<a rel='gallery' class='lightbox' href='images/assets/faec7243ff5a2d208b6ba2fb55e9e90a.jpeg' title='faec7243ff5a2d208b6ba2fb55e9e90a'>
												<img width="150" height="150" src="/static/images/assets/faec7243ff5a2d208b6ba2fb55e9e90a-150x150.jpg" class="attachment-thumbnail" alt="faec7243ff5a2d208b6ba2fb55e9e90a" title="faec7243ff5a2d208b6ba2fb55e9e90a" />
											</a>
										</dt>
									</dl>
									<br style="clear: both" />
									<br style='clear: both;' />
								</div>

							</div>
							<!-- frame -->
						</div>
						<!-- shadow -->
					</div>
					<!-- box -->
				</div>
				<!--writing post-->

				<div data-id="post-87" data-type="photography" class="post-87 photography post clearfix project">
					<div class="box">
						<!-- meta info bar -->
						<div class="bar" >
							<div class="bar-frame clearfix">
								<div class="date">
									<strong class="day">14</strong>
									<div class="holder">
										<span class="month">Jul</span>
										<span class="year">2011</span>
									</div>
								</div>
								<div class="author">
									<strong class="title">AUTHOR</strong>
									<a href="http://mikemcalister.com" title="Visit Mike McAlister&#8217;s website" rel="external">Mike McAlister</a>
								</div>
								<div class="categories">
									<strong class="title">CATEGORY</strong>
									<p>
										<a href="#" title="View all posts in Photography" rel="category">Photography</a>
									</p>
								</div>
								<div class="comments">
									<strong class="title">COMMENTS</strong>
									<a href="#">No Comments</a>
								</div>

							</div>
							<!-- bar frame -->
						</div>
						<!-- bar -->
						<div class="shadow clearfix">
							<div class="frame">
								<h2 class="entry-title">
									<a href="#" title="Edison Reclaimed Timber Table">Edison Reclaimed Timber Table</a>
								</h2>

								<div class="okvideo"></div>
								<a class="post-thumb" href="#" title="Edison Reclaimed Timber Table">
									<img width="540" height="340" src="/static/images/assets/Edison-Reclaimed-Timber-Table-540x340.jpg" class="attachment-post-image wp-post-image" alt="Edison Reclaimed Timber Table" title="Edison Reclaimed Timber Table" />
								</a>

								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac purus nec diam laoreet sollicitudin. Fusce ullamcorper imperdiet turpis, non accumsan enim egestas in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac purus nec diam laoreet sollicitudin. Fusce ullamcorper imperdiet turpis, non accumsan enim egestas in.
								</p>
							</div>
							<!-- frame -->
						</div>
						<!-- shadow -->
					</div>
					<!-- box -->
				</div>
				<!--writing post-->

				<div data-id="post-146" data-type="photography" class="post-146 photography post clearfix project">
					<div class="box">
						<!-- meta info bar -->
						<div class="bar" >
							<div class="bar-frame clearfix">
								<div class="date">
									<strong class="day">13</strong>
									<div class="holder">
										<span class="month">Jul</span>
										<span class="year">2011</span>
									</div>
								</div>
								<div class="author">
									<strong class="title">AUTHOR</strong>
									<a href="http://mikemcalister.com" title="Visit Mike McAlister&#8217;s website" rel="external">Mike McAlister</a>
								</div>
								<div class="categories">
									<strong class="title">CATEGORY</strong>
									<p>
										<a href="#" title="View all posts in Photography" rel="category">Photography</a>
									</p>
								</div>
								<div class="comments">
									<strong class="title">COMMENTS</strong>
									<a href="#">No Comments</a>
								</div>
							</div>
							<!-- bar frame -->
						</div>
						<!-- bar -->
						<div class="shadow clearfix">
							<div class="frame">
								<h2 class="entry-title">
									<a href="#" title="Milwaukee Panoramic">Milwaukee Panoramic</a>
								</h2>

								<div class="okvideo"></div>
								<a class="post-thumb" href="#" title="Milwaukee Panoramic">
									<img width="540" height="130" src="/static/images/assets/photo-540x130.jpg" class="attachment-post-image wp-post-image" alt="photo" title="photo" />
								</a>

								<p>
									Took this photo on my roof the other day. Looking East towards Lake Michigan.
								</p>
							</div>
							<!-- frame -->
						</div>
						<!-- shadow -->
					</div>
					<!-- box -->
				</div>
				<!--writing post-->

				<div style="clear:both;"></div>

				<div class="post-nav">
					<div class="postnav-left"></div>
					<div class="postnav-right"></div>
					<div style="clear:both;"></div>
				</div>
				<!--end post navigation-->

				<!-- grab comments on single pages -->
			</div>
			<!--content-->

			<!-- grab the sidebar -->
			<div id="sidebar-wrap" class="clearfix">
				<div id="sidebar">

					<!-- grab the logo -->
					<h1>
						<a href="http://okaythemes.com/dispatch/">
							<img class="logo" src="/static/images/assets/dispatch3.png" alt="Bugatti Type 35B" />
						</a>
					</h1>

					<!-- otherwise show the site title and description -->

					<!-- grab sidebar widgets -->
					<div class="widget">
						<h2 class="widgettitle">About Me</h2>
						<div class="textwidget">
							I'm Dispatch, a blog-style WordPress theme with sweet sorting capabilities, custom widgets and a sticky sidebar.
						</div>
					</div>
					<div class="widget">
						<div class="flickr">
							<h2 class="widgettitle">Flickr</h2>
							<ul class="flickrPhotos">
								<li>
									<a class="lightbox" rel="flickr" href="http://farm4.static.flickr.com/3440/5839925031_0e516d68f5.jpg" title="Shot_1299500925">
										<img src="http://farm4.static.flickr.com/3440/5839925031_0e516d68f5.jpg" alt="Shot_1299500925" title="Shot_1299500925" />
									</a>
								</li>
								<li>
									<a class="lightbox" rel="flickr" href="http://farm4.static.flickr.com/3395/5840472742_52316be1b5.jpg" title="Shot_1299503390">
										<img src="http://farm4.static.flickr.com/3395/5840472742_52316be1b5.jpg" alt="Shot_1299503390" title="Shot_1299503390" />
									</a>
								</li>
								<li>
									<a class="lightbox" rel="flickr" href="http://farm6.static.flickr.com/5264/5839924719_37a1ab8083.jpg" title="Shot_1299581396">
										<img src="http://farm6.static.flickr.com/5264/5839924719_37a1ab8083.jpg" alt="Shot_1299581396" title="Shot_1299581396" />
									</a>
								</li>
								<li>
									<a class="lightbox" rel="flickr" href="http://farm4.static.flickr.com/3128/5839924553_8e76a834a3.jpg" title="Shot_1300245514">
										<img src="http://farm4.static.flickr.com/3128/5839924553_8e76a834a3.jpg" alt="Shot_1300245514" title="Shot_1300245514" />
									</a>
								</li>
							</ul>
							<div style="clear:both;"></div>
							<a target="_blank" class="flickr-more" href="http://flickr.com/photos/64104492@N02" title="">More Photos &rarr;</a>
						</div>
					</div>

				</div>
				<!--sidebar-->

				<div style="clear:both;"></div>

				<!-- grab the sticky sidebar on the main blog pages, hide it on inside pages -->

				<div id="sticky" class="clearfix">
					<h2 class="sticky-title">Sticky Sidebar</h2>

					<div class="widget">
						<div class="twitter-box">
							<h2>Twitter</h2>
							<ul class="tweet-scroll">
								<li>
									@
									<a class=" " href="#">dabernathy89</a>
									I like to look at 365psd.com every once in a while for inspiration. That's about it really!
								</li>
							</ul>

							<a class="tweets-more" href="#" target="_blank" title="twitter">More Tweets &rarr;</a>

						</div>

					</div>
					<div class="widget">
						<form action="#" class="search-form clearfix">
							<fieldset>
								<input type="text" class="search-form-input text" name="s" onfocus="if (this.value == 'search the site') {this.value = '';}" onblur="if (this.value == '') {this.value = 'search the site';}" value="search the site"/>
								<input type="submit" value="Go" class="submit" />
							</fieldset>
						</form>
					</div>
				</div>
				<!-- sticky -->

			</div>
			<!-- sidebar wrap -->

			<div class="push"></div>
		</div>
		<!--main-->

		<!-- grab footer -->
		<div id="footer" class="clearfix">
			<div class="frame">
				<div class="bar">
					<p class="copyright">
						&copy; 2011
						<a href="#">Dispatch WordPress Theme</a>
					</p>
					<div class="menu-footer-container">
						<ul id="menu-footer" class="footernav">
							<li id="menu-item-29" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-29">
								<a href="#">Uncategorized</a>
							</li>
							<li id="menu-item-30" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30">
								<a href="#">Graphic Design</a>
							</li>
							<li id="menu-item-31" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31">
								<a href="#">Plugins</a>
							</li>
							<li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
								<a href="#">Sample Page</a>
							</li>
							<li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
								<a href="#">Sample Page</a>
							</li>
						</ul>
					</div>
				</div>
				<!--bar-->
			</div>
			<!--frame-->
		</div>
		<!--footer-->
	</div>
	<!-- wrapper -->

	<!-- google analytics code -->

	<script type='text/javascript' src='/static/js/includes/js/fancybox/jquery.fancybox-1.3.4.pack.js'></script>
	<script type='text/javascript' src='/static/js/includes/js/jquery.sticky.js'></script>
	<script type='text/javascript' src='/static/js/includes/js/quicksand/jquery-css-transform.js'></script>
	<script type='text/javascript' src='/static/js/includes/js/quicksand/jquery.easing.1.3.js'></script>
	<script type='text/javascript' src='/static/js/includes/js/quicksand/quicksand.js'></script>
	<script type="text/javascript">
	 /* <![CDATA[  */   
	 
	var J = jQuery.noConflict();

	J(document).ready(function(){
						
		// Drop Menu
		function mainmenu(){
		J(".nav ul ").css({display: "none"}); // Opera Fix
		J(".nav li").hover(function(){
				J(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown(200);
				},function(){
				J(this).find('ul:first').css({visibility: "hidden"});
				});
		}
			
		mainmenu();
		
		// Fade Icons
		J("img.a").hover(
			function() {
			J(this).stop().animate({"opacity": "0"}, "fast");
			},
			function() {
			J(this).stop().animate({"opacity": "1"}, "fast");
		});
		
		// Fade Hover Links
		J(".entry-title a").hover(
		function() {
			J(this).animate({"opacity": ".7"}, "fast");
				},
			function() {
				J(this).animate({"opacity": "1"}, "fast");
		});
		
		// Remove Margins
		J(".flickrPhotos > li:nth-child(2n)").addClass('remove-margin');
		J('#sidebar > div').last().addClass('last-sidebar');
		
		// Sticky Sidebar
		J('#sticky > div').last().addClass('last-sidebar');
		J("#sticky").sticky({topSpacing:90,className:'sticky'});
		
		J(".lightbox").fancybox({
			'titlePosition'		: 'outside',
			'overlayColor'		: '#ddd',
			'overlayOpacity'	: 0.9,
			'titleShow'			: 'false',
			'transitionIn'	: 'elastic',
			'transitionOut'	: 'elastic',
			'speedIn' : '1400', 
			'speedOut' : '1400',
			'easingIn' : 'easeOutBounce',
			'easingOut' : 'easeOutBounce'
		});
		
		// Quicksand Filtering
		var $data = J(".filter-posts").clone();
		
		J('.filter-list li').click(function(e) {
			J(".filter li").removeClass("active");	
			// Use the last category class as the category to filter by.
			var filterClass=J(this).attr('class').split(' ').slice(-1)[0];
			
			if (filterClass == 'all-projects') {
				var $filteredData = $data.find('.project');
			} else {
				var $filteredData = $data.find('.project[data-type=' + filterClass + ']');
			}
			J(".filter-posts").quicksand($filteredData, {
				duration: 700,
				easing: 'jswing',
				adjustHeight: 'dynamic'
			});		
			J(this).addClass("active"); 			
			return false;
		});
	});
	/* ]]> */  
</script>

	<style type="text/css">
.light-linen {
	background:#333 url(/static/images/bg_light_linen.png) fixed;
}

.dark-linen {
	background:#333 url(/static/images/bg_dark_linen.png) fixed;
}

.dark-stone {
	background:#32363b url(/static/images/bg_stone_dark.png) fixed;	
}

.light-stone {
	background:#eee url(/static/images/bg_stone.png) fixed;	
}

.light-plaid {
	background:#ccc url(/static/images/bg_plaid.png) fixed;	
}

.dark-plaid {
	background:#323232 url(/static/images/bg_dark_plaid.png) fixed;
}

.light-scales {
	background:#eee url(/static/images/bg_scales.png) fixed;
}
</style>

	<script type="text/javascript">
	 /* <![CDATA[  */   
	 
	var J = jQuery.noConflict();

	J(document).ready(function(){
						
		//Style Switcher
	    J("li.one").click( function(){ J
			("body").removeClass('dark-linen , dark-stone , light-stone , light-plaid , dark-plaid , light-scales').addClass("light-linen");
		});
	    
	    J("li.two").click( function(){ J
			("body").removeClass('light-linen , dark-stone , light-stone , light-plaid , dark-plaid , light-scales').addClass("dark-linen");
		});
	
		J("li.three").click( function(){ J
			("body").removeClass("light-linen , dark-linen , light-stone , light-plaid , dark-plaid , light-scales").addClass("dark-stone");
		});
	
		J("li.four").click( function(){ J
			("body").removeClass("light-linen , dark-linen , dark-stone , light-plaid , dark-plaid , light-scales").addClass("light-stone");
		}); 
		
		J("li.five").click( function(){ J
			("body").removeClass("light-linen , dark-linen , dark-stone , light-stone , dark-plaid , light-scales").addClass("light-plaid");
		}); 
		
		J("li.six").click( function(){ J
			("body").removeClass("light-linen , dark-linen , dark-stone , light-stone , light-plaid , light-scales").addClass("dark-plaid");
		}); 
		
		J("li.seven").click( function(){ J
			("body").removeClass("light-linen , dark-linen , dark-stone , light-stone , light-plaid , dark-plaid").addClass("light-scales");
		});
		
	});
	/* ]]>*/  </script>
</body>
</html>